.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.sved
.hypothesis/
.pytest_cache/
cover/

node_modules/
dist
dist-ssr
*.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ----------------------------------------------------------------------
# SQLite Databases (If applicable in future)
# ----------------------------------------------------------------------
*.sqlite3
db.sqlite3


.vscode/*
!.vscode/extensions.json
.idea/
*.iml

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini

*~
*.sw[a-p]
*.swp
*.swo
.auto/
*.suo
*.ntvs*
*.njsproj
*.sln

.cache/huggingface/
huggingface/
*.pt
*.pth
*.onnx
*.safetensors
*.bin
*.h5
*.pkl

uploads/
/test
test_images/
temp/
*.jpg
*.jpeg
*.png
*.webp